# SQLite Database Configuration
DATABASE_URL="file:./dev.db"

# JWT Secret for sessions
JWT_SECRET="super_secret_jwt_string_change_me"

# Standard Admin Login
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="super_secret_admin_password"

# Daimon Super-Admin Login
DAIMON_USERNAME="daimon"
DAIMON_PASSWORD="super_secret_daimon_password"
